<template name="ApiBox">
	<div class="section-title">{{title}}</div>
	
	<div class="panel panel-default">
		
		<table class="table table-striped table-hover no-footer assignment-table" role="grid">
			<tbody>
				{{#each rows}}
					<tr role="row" class="{{odd_even}}" style="height:40px;">
						<td>
							<b>{{name}}</b> 
							<i style="margin-left:10px; font-family: 'Helvetica Neue';">{{../../paramTypes types}}</i>
						</td>
						
						<td>
							{{#if optional}}<span style="font-family: 'Helvetica Neue'; color: #4DA7DC;">OPTIONAL:</span>{{/if}} 
							<span>{{{../../paramDescription description}}}</span>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	
		<div style="clear:both;"></div>
	</div>
</template>